.roundedcircle {
  border-radius: 50% !important; 
  color: #fff;
  background-color: #adb5bd;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  border-radius: 50%;
  height: 48px;
  width: 48px; 
}

.image {
    width: 100%;
    border-radius: 50%; 
}


/*@media screen and (max-width: 767px) {
    .roundedcircle {
        width: 36px;
        height: 36px;
        font-size: 0.875rem; 
        color: black;
        background-color: red;
    }

    .image {
    width: 100%;
    border-radius: 50%; 
}
}*/