@media screen and (min-width:768px){
  .all{
  display: flex;
  max-width:100%;
}

.ele1{
  min-width: 240px;
}

.sidebar1{
  position:fixed;
  left: 0%;
  overflow-y: scroll;
  height: 100vh;
  min-width: 240px;
}

.ele2{
  background-color: rgb(248, 247, 247);
  width:80vw;
}
}

@media screen and (min-width:1330px){
  .all{
  display: flex;
  min-width:100%;
}

  .ele2{
    background-color: rgb(248, 247, 247);
    min-width:100vw;
  }
}